<!DOCTYPE html>
<html
        xmlns: th="http://thymeleafy.org"
        layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <title>EventoApp</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body>
<header>
    <nav>
        <div class="nav-wrapper cyan darken-1">
            <a href="#" class="brand-logo">Atualizar Eventos</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="/evento" class="waves-effect waves-light btn"><i class="material-icons left">add_circle_outline</i>Lista de evento</a></li>
            </ul>
        </div>
    </nav>

</header>

<form class="container" method="post">

    <div class="row">
        <div class="input-field col s12">
            Nome Atualizado: <input type="text" value="" name="nome" required placeholder="Nome do Evento"/>
        </div>

        <div class="input-field col s6">
            Localidade Atualizada: <input type="text" value="" name="local" required placeholder="Escreva o nome da Localidade"/>
        </div>

        <div class="input-field col s3">
            Data Atualizada: <input type="date" value="" name="data" required placeholder="01/03/1997"/>
        </div>
        <div class="input-field col s3">
            Horario Atualizado: <input type="time" value="" name="horario" required placeholder="01:01"/>
        </div>
    </div>

    <div align="center">
        <button class="waves-effect waves-light btn" type="submit">Atualizar</button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button class="waves-effect waves-light btn" type="reset">Limpar</button>
    </div>

    <th:block th:include="mensagemValidacao"></th:block>

</form>
<!--JavaScript at end of body for optimized loading-->
<script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>

</html>